.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  margin: 35px;
}
.list-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

